# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Python egg metadata
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore raw model checkpoints or large temp data (if used)
checkpoints/
tmp/
